@import "tailwindcss";

:root{
    background-color: #000;
}
:root{
    color: #ffe380;
    --foreground-yellow-dark: #fed333;
    font-family: sans-serif;
}

button, a{
    cursor: pointer !important;
}

@theme inline {
  --animate-shiny-text: shiny-text 8s infinite;

  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }
}