@import "tailwindcss";

:root{
    background-color: #8400ff;
}
:root{
    color: #ffe380;
    --foreground-yellow-dark: #fed333;
    font-family: sans-serif;
}

button{
    cursor: pointer !important;
}