@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
    position: absolute;
    width: 3px;
}
::-webkit-scrollbar:hover {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(99, 99, 99, 0.178);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(99, 99, 99, 0.5);
}
